name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    permissions:
      actions: read
      contents: read
      security-events: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: csharp

      - name: Restore
        run: dotnet restore Planara.Auth.sln

      - name: Build
        run: dotnet build Planara.Auth.sln --no-restore -c Release /p:RunAnalyzersDuringBuild=true /p:TreatWarningsAsErrors=true

      - name: Tests
        run: |
          rm -rf tests/TestResults
          dotnet test Planara.Auth.sln \
            -c Release \
            --collect:"XPlat Code Coverage" \
            --settings tests/coverlet.runsettings \
            --results-directory ./tests/TestResults \
            -v:n
    
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: tests/TestResults/**/coverage.cobertura.xml
          fail_ci_if_error: true

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
